<div class="groups-container">
  <% @groups.each do |group| %>
    <div class="group-container">
      <div>
        <div>
          <span>Group Name: </span>
          <span><%= group.name ? group.name : "Unnamed" %></span>
        </div>
        <div>
          <div>
            <% if group.lights.present? %>
            <h4>Lights </h4>
              <% group.lights.each do |light| %>
                <div>
                  <span><%= light.name %></span>
                </div>
              <% end %>
            <% else %>
              <div>No lights.</div>
            <% end %>
          </div>
        </div>
        <%= link_to 'Change Color', group_path(group) %>
      </div>
    </div>
  <% end %>
</div>