.group-name > h2, .group-members > h4 {
  margin: 0 0 1% 0;
}

.groups {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.group {
  width: 100%;
  padding: 2%;
  background-color: lightgrey;
  border: 2px solid white;
  box-sizing: border-box;
  min-height: 250px;
  position: relative;
}

.group-members > ul {
  max-height: 70px;
  overflow-y: auto;
  background-color: gainsboro;
  border: 1px solid darkgray;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-bottom: 5%;
}

.group-color {
  display: flex;
  position: absolute;
  bottom: 3%;
  right: 3%;
}

.color-option {
  border: 1px solid black;
  padding: 1.5% 5%;
  border-radius: 4px;
  margin: 0 10px;
  width: 100px;
}

input {
  background-color: gainsboro;
}

@media(min-width: 768px) {
  .group {
    width: 50%;
  }
}

@media(min-width: 992px) {
  .group {
    width: 50%;
  }
}

@media(min-width: 1200px) {
  .group {
    width: 33.33%;
  }
}